
/* ---- Base Rules ---- */

body {
    background: linear-gradient(0deg, rgb(94, 93, 93) 44%, rgba(139, 139, 158, 0.5) 100%);
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: #fff;
}


/* Typeography General*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}



h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}




/* ---- Module Rules ---- */

/* Navigation Styles*/

#scrollToTop {
    background-color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    margin: 20px auto 0px auto;
    display:block;
    padding:10px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 2em;
    line-height: 1em;
    width: 1em;
  }

.navbar__menu {
    background:none;
}
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    color:rgb(0, 0, 0);
    padding: 0 1em 0 1em;
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: .5em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}


/* Small Screens */

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}


/* Header Styles */
.page__header {
    background:rgba(255, 255, 255, 0.418);
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    z-index: 5;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p{
    color: #fff;
}


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */

section.activated {
    background: rgb(34, 34, 34);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);

}
.menu__link.activeNav {
border: 1.5px solid rgba(110, 108, 108, 0.5);
}